.logo {
    height: 50px;
}

.text {
    font-family: 'Michroma', sans-serif;
    text-align: center;
}

.abt-me {

    font-size: 1.5rem;
    padding-bottom: 80px;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.im-idris {
    padding-top: 40px;
    font-size: 4rem;
    font-weight: 800;
}

.about-me {
    font-size: 1.3rem;
    
}

.laptop {
    width: 100%;
    padding-bottom: 8px;
}

.radius {
    border-radius: 30px;
    
}

.svg {
    height: 30px;
}


.footerlink {
    margin-top: 30px;
}


.heading {
    font-size: 3rem;
}

.text-project {
    font-size: 1.5rem;
}


@media (max-width:400px){


    .im-idris {
        font-size: 2rem;
    }

    .about-me{
        font-size: 1rem;
    }

    .laptop{
        width: 100%;
        padding-bottom: 10px;
    }

    .logo{
        height: 30px;
    }

    .abt-me {
        text-align: center;
        font-size: 0.78rem;
        padding-bottom: 10px;
    }

    .heading {
        font-size: 2.5rem;
    }

    .radius {
        border-radius: 25px;
    }

    .footerlink{
        margin-top: 10px;
    }

    .text-skill{
        font-size: 0.85rem;
    }

    .text-project {
        font-size: 1rem;
    }
    
}